@page "/"


<h1>Tehsat</h1>

<p>Tehsat is developed to simulate the Command and Control (C2) communiations of the malware. <br />
    It can be used to analyse the Data Analytics and Security Incident Detections environments, and their efficiency. <br />
</p>

<p>
    Usage<br />
         <ul>
             <li>Create a malware communications profile using <b>Profiles</b></li>
             <li>Create a service populated from the available profiles using <b>Services</b></li>
             <li>Create an implant for the services using <b>Implants</b></li>
             <li><b>Download</b> button in the <b>Implants</b> can give the C# source code for the implant</li>
             <li>Make sure the services started using <b>Services</b></li>
         </ul>
    In addition, you can prepare a scenario based on profiles, services and implants generated through the configuration. 
</p>

